*{
	margin: 0px;
	padding: 0px;
}
.contenedor{
	position: relative;
	top: 125px;
}
.text{
	font-size: 30px;
	font-family: Hacked;
	color: green;
	border: 0px;
	background: black; border-radius: 9%;
	width: 325.8px;
	height: 80px;
}
.columna1{
	font-size: 30px;
	font-family: Arial,Helvetica;
	color: red;
	border: 0px;
	background: gray; border-radius: 9%;
	width: 80px;
	height: 80px;
}
.columna2{
	font-size: 30px;
	font-family: Arial,Helvetica;
	color: white;
	border: 0px;
	background: black; border-radius: 9%;
	width: 80px;
	height: 80px;
}
.textohack {
text-align: center;
color: green;
}
.fondo {
width: 100%;
background-image: url(imagenes/giphy.gif);
}
.text2xd{
	text-align: center;
	font-size: 30px;
	font-family: Hacked;
	color: green;
	border: 0px;
}