.name {
background-color: black;

}
.primerh {
text-align: center; 
color: red;

}
.imagenuno {
width: 50% ;
background-image: url(imagenes/1010001.jpg);float: left;

}
.textohack {
text-align: center;
color: green;"
}
.nocxd {
text-align: justify;
}
.imagemuno {
width: 50%; 
border-radius: 50%; 
margin-left: 25%;
}
.informacion {
width: 50%;
background-color: black;
float: right;"
}